.g-flexview .m-navbar {
  background-color: #ffffff;
  align-items: center;
}
.g-flexview .m-navbar .navbar-item i {
  color: #333333;
}
.g-flexview .m-navbar .navbar-center {
  /* padding: 5%; */
  background: #F2F2F2;
  border-radius: 15px;
  width: 221px;
  height: 30px;
}
.g-flexview .m-navbar .navbar-center input {
  font-size: 13px;
  line-height: 13px;
  font-weight: normal;
  color: #808080;
  border: none;
  width: 100%;
}
.g-flexview .m-navbar .navbar-item {
  color: #FFFFFF;
  font-size: 15px;
  font-family: SourceHanSansCN-Normal;
  font-weight: Medium;
}
.g-flexview .m-navbar .navbar-item .i1 {
  width: 33px;
  height: 24px;
}
.g-flexview .m-navbar .navbar-item .i1 img {
  width: 33px;
  height: 24px;
}
.g-flexview .m-navbar .navbar-item .i2 {
  width: 17px;
  height: 17px;
  margin-left: 9.5px;
}
.g-flexview .m-navbar .navbar-item .i2 img {
  width: 17px;
  height: 17px;
}
.g-flexview .m-navbar .navbar-item .i2 .tabbar-dot {
  width: 4px;
  height: 4px;
  position: relative;
  top: -20px;
  left: 20px;
  background-color: #FBE91E;
}
.g-flexview .menu {
  width: 100%;
  height: 31px;
  background-color: #ffffff;
}
.g-flexview .menu .menu_ul {
  width: 100%;
  height: 31px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.g-flexview .menu .menu_ul .menu_li {
  float: left;
  font-size: 13px;
  width: 40px;
  height: 31px;
  line-height: 31px;
  color: #333333;
}
.g-flexview .menu .menu_ul .menu_li .menu_li_img {
  display: inline-block;
  width: 7px;
  height: 5px;
  margin-left: 5px;
}
.g-flexview .g-scrollview {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.g-flexview .g-scrollview .grid-item {
  width: 46.4vw;
  height: 217px;
  background-color: #ffffff;
  padding: 7.5px;
  margin-left: 5px;
  margin-top: 10px;
}
.g-flexview .g-scrollview .grid-item .item-img {
  width: 17.6vw;
  height: 113px;
  position: relative;
  margin-top: 5.5px;
  margin-left: 50px;
}
.g-flexview .g-scrollview .grid-item .card__title {
  margin-top: 10px;
}
.g-flexview .g-scrollview .grid-item .card__text {
  color: #808080;
  font-size: 10px;
}
.g-flexview .g-scrollview .grid-item .section-p {
  margin-top: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.g-flexview .g-scrollview .grid-item .section-p .title-p {
  font-size: 18px;
  color: #FB5960;
}
.g-flexview .g-scrollview .grid-item .section-p .name-p {
  font-size: 10px;
  text-decoration: line-through;
  color: #B3B3B3;
}
.g-flexview .g-scrollview .grid-item .section-p .price-p {
  width: 10.667vw;
  height: 12px;
  text-align: center;
  line-height: 12px;
  color: #ffffff;
  background-color: #FF5653;
  border-radius: 2px;
}
.g-flexview .g-scrollview .grid-item .section-p .gwc {
  width: 23px;
  height: 23px;
  background-color: #FFB606;
  border-radius: 23px;
}
.g-flexview .g-scrollview .grid-item .section-p .gwc .gwc_img {
  width: 13.5px;
  height: 13.5px;
  margin-top: 5.5px;
  margin-left: 4.5px;
}
.g-flexview .m-tabbar {
  height: 45px;
  padding-top: 10px;
}
.g-flexview .m-tabbar .tabbar-active {
  color: #2F6DE0;
}
.g-flexview .m-tabbar .tabbar-txt {
  font-size: 10px;
  margin-top: 4px;
}
.g-flexview .m-tabbar .tabbar-icon {
  height: 16px;
}
.g-flexview .m-tabbar .tabbar-icon img {
  width: 15.4px;
  height: 16px;
}
