body {
  background: #FFFFFF;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.m-navbar:after,
.m-tabbar:after {
  border-bottom: 0px solid #B2B2B2 !important;
}
.m-navbar {
  height: 10.933vw;
}
.navbar-item {
  min-width: 40%;
}
.title strong {
  font-family: SourceHanSansCN;
  font-size: 16px;
  color: #333333;
  margin-left: 2.267vw;
}
.titleLogo .phonelogo {
  margin-right: 3.6vw;
}
.titleLogo .sharelogo {
  margin-right: 4.267vw;
}
.textdiv1 {
  position: relative;
  width: 100vw;
  height: 23.467vw;
  background: #FFFFFF;
  margin-top: 1.733vw;
}
.textdiv1 .div1 {
  position: relative;
  width: 100%;
}
.textdiv1 .div1 .title1 {
  position: relative;
  margin-top: 2.8vw;
  margin-left: 4.4vw;
  width: 48.4vw;
  height: 3.6vw;
  font-size: 14px;
  font-family: SourceHanSansCN;
  font-weight: 500;
  color: #333333;
}
.textdiv1 .div1 .zaixian {
  position: relative;
  float: right;
  margin-right: 5.333vw;
  right: 0;
  height: 2.533vw;
  font-size: 10px;
  font-family: SourceHanSansCN-Regular;
  font-weight: 400;
  color: #808080;
}
.textdiv1 .div2 {
  position: relative;
  width: 100%;
}
.textdiv1 .zaocan {
  position: relative;
  margin-top: 30px;
  margin-left: 16.5px;
  height: 3.333vw;
  font-size: 11px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #808080;
}
.textdiv1 .hTot {
  position: relative;
  margin-right: 0px;
  margin-right: 14.5px;
  float: right;
  right: 0;
  top: 9px;
  font-size: 10px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #F23A3A;
}
.textdiv1 .money {
  margin-right: 20px;
  float: right;
  position: relative;
  font-size: 20px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #F23A3A;
}
.textdiv1 .txt {
  position: relative;
  width: 100%;
  height: 4.667vw;
}
.textdiv1 .yuanjia {
  position: relative;
  width: 100vw;
  height: 2.667vw;
  top: 2.933vw;
  margin-left: 79.467vw;
  font-size: 10px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  text-decoration: line-through;
  color: #808080;
}
.textdiv1 .youhui {
  position: relative;
  margin-left: 4.4vw;
  top: -1.067vw;
  width: 60vw;
  height: 4.667vw;
  background: rgba(255, 74, 104, 0);
  border: 1px solid rgba(255, 208, 216, 0.7);
  border-radius: 2px;
  font-size: 10px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #FF4A68;
}
.textdiv1 .xinren {
  position: relative;
  margin-left: 0.533vw;
  top: -1.067vw;
  width: 60vw;
  height: 4.667vw;
  background: rgba(255, 74, 104, 0);
  border: 1px solid rgba(255, 208, 216, 0.7);
  border-radius: 2px;
  font-size: 10px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #FF4A68;
}
table,
td {
  position: relative;
  top: 0;
  border: 1px solid rgba(230, 230, 230, 0.7);
}
table {
  margin-left: 4.4vw;
  width: 90.4vw;
  border-collapse: collapse;
  margin-top: 2.4vw;
  margin-bottom: 2.4vw;
}
td {
  height: 8vw;
  width: 46vw;
}
.span1 {
  color: #808080;
  position: relative;
  float: left;
  margin-left: 3.6vw;
}
.span2 {
  color: #4D4D4D;
  position: relative;
  margin-right: 1.6vw;
  float: right;
}
.span3 {
  color: #4D4D4D;
  position: relative;
  margin-left: 4.667vw;
}
.span3 i {
  color: red;
}
.textdiv2 {
  position: relative;
  width: 100vw;
  height: 101.2vw;
  background: #FFFFFF;
  top: 2.4vw;
}
.textdiv2 .title2 {
  position: relative;
  margin-left: 4.4vw;
  height: 5.333vw;
  font-size: 15px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #333333;
}
.m-tabbar {
  border: none;
}
.foot1 {
  position: relative;
  left: -10.133vw;
  font-size: 5.333vw;
}
.foot11 {
  color: #808080;
}
.foot2 {
  position: relative;
  height: 100%;
  width: 50vw;
  background-color: #F23A3A;
}
.foot2 .foot21 {
  text-align: center;
  display: block;
  line-height: 10.933vw;
  font-size: 16px;
  font-family: SourceHanSansCN;
  font-weight: 500;
  color: #FFFFFF;
}
.m-tabbar:after {
  border-top: 0px solid #B2B2B2;
}
::-webkit-scrollbar {
  display: none;
}
