html {
  font-size: 16px;
  font-family: SourceHanSansCN;
}
* {
  margin: 0;
  padding: 0;
}
.g-flexview {
  margin: 0;
  padding: 0;
  margin: 0 auto;
}
.g-flexview .m-navbar {
  background-color: #2F6DE0;
}
.g-flexview .m-navbar #nav_left {
  width: 46.5px;
}
.g-flexview .m-navbar #nav_left img {
  width: 12px;
  height: 15px;
  margin-right: 5px;
}
.g-flexview .m-navbar .navbar-item {
  font-size: 15px;
  font-family: SourceHanSansCN-Normal;
  color: #fff;
  font-weight: Medium;
  min-width: 5% !important;
}
.g-flexview .m-navbar .navbar-center {
  position: relative;
  width: 100%;
}
.g-flexview .m-navbar .navbar-center .search {
  background-color: #fff;
  border-radius: 15px;
  height: 30px;
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}
.g-flexview .m-navbar .navbar-center .search img {
  margin-left: 11.5px;
  margin-right: 6px;
  width: 17px;
  height: 18px;
}
.g-flexview .m-navbar .navbar-center .search input {
  font-family: SourceHanSansCN-Normal;
  font-size: 13px;
  line-height: 13px;
  font-weight: normal;
  color: #808080;
  border: none;
  position: relative;
  width: 100%;
}
.g-flexview .m-navbar #nav_right .tabbar-dot {
  width: 4px;
  height: 4px;
  background-color: #FBE91E;
  position: absolute;
  top: 14px;
  left: 99%;
}
.g-flexview .m-navbar #nav_right .tuangou1 {
  margin-right: 9.5px;
}
.g-flexview .m-navbar #nav_right img:last-child {
  padding: 0;
}
.g-flexview .m-tabbar {
  height: 45px;
  padding-top: 0.1333rem;
}
.g-flexview .m-tabbar .tabbar-active {
  color: #2F6DE0;
}
.g-flexview .m-tabbar .tabbar-txt {
  font-size: 10px;
  margin-top: 4px;
}
.g-flexview .m-tabbar .tabbar-icon {
  height: 16px;
}
.g-flexview .m-tabbar .tabbar-icon img {
  width: 15.4px;
  height: 16px;
}
.g-flexview .g-scrollview {
  margin: 0;
  padding: 0;
}
.g-flexview .g-scrollview .xuanXiang {
  display: flex;
  height: 35px;
  font-size: 14px;
  line-height: 35px;
  font-weight: 500;
  background-color: #fff;
  overflow-x: auto;
  /* 隐藏滚动条 */
}
.g-flexview .g-scrollview .xuanXiang li {
  width: 68px;
  text-align: center;
  flex-shrink: 0;
}
.g-flexview .g-scrollview .xuanXiang::-webkit-scrollbar {
  display: none;
}
.g-flexview .g-scrollview .slider-wrapper {
  height: 91px;
}
.g-flexview .g-scrollview .hotel {
  margin-top: 10.5px;
  background-color: #fff;
}
.g-flexview .g-scrollview .hotel ul {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10.5px;
  padding: 0 15px;
}
.g-flexview .g-scrollview .hotel ul li {
  width: 29.333vw;
  max-width: 33%;
  background: #FFFFFF;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.g-flexview .g-scrollview .hotel ul li img {
  width: 29.333vw;
  max-width: 100%;
  height: 123px;
}
.g-flexview .g-scrollview .hotel ul li h4 {
  font-size: 12px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #333333;
  margin: 6px 4px 0 4px;
}
.g-flexview .g-scrollview .hotel ul li .prices {
  margin: 3px 10.5px 0 8px;
  font-size: 13px;
  font-family: SourceHanSansCN;
  font-weight: 550;
  color: #E91A1A;
}
.g-flexview .g-scrollview .hotel ul li .prices span {
  margin-left: 5px;
  font-size: 10px;
  font-weight: 400;
  width: 32px;
  height: 10px;
  background: rgba(184, 199, 213, 0);
  border: 1px solid #FFADAD;
  border-radius: 2px;
}
.g-flexview .g-scrollview .hotel ul li > p {
  margin: 0px 7.5px;
  line-height: 16px;
  margin-top: 4px;
  margin-bottom: 2px;
  font-size: 10px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #808080;
}
.g-flexview .g-scrollview .films {
  margin-top: 10.5px;
  background-color: #fff;
}
.g-flexview .g-scrollview .films ul {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10.5px;
  padding: 0 15px;
}
.g-flexview .g-scrollview .films ul li {
  width: 29.333vw;
  max-width: 33%;
  background: #FFFFFF;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.g-flexview .g-scrollview .films ul li img {
  width: 29.333vw;
  max-width: 100%;
  height: 123px;
}
.g-flexview .g-scrollview .films ul li p {
  font-size: 10px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #FFDE02;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4) 30%, rgba(0, 0, 0, 0.2) 50%, transparent);
  width: 100%;
  text-align: center;
  position: absolute;
  top: 71%;
  height: 16px;
}
.g-flexview .g-scrollview .films ul li h4 {
  font-size: 12px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #333333;
  text-align: center;
  margin-top: 4px;
  margin-bottom: 6px;
}
